<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battle Ships</title>
</head>

<body>
  <div class="game-container">
    <header class="header">Battle Ships</header>
    <div class="boards">
      <div class="computerBoardContainer"></div>
      <div class="userBoardContainer"></div>
    </div>
    <div class="buttonContainer">
      <button class="startBtn">Start</button>
    </div>
  </div>
  <dialog class="winnerModal">
  </dialog>
</body>

</html>